.course-page {
  padding: 10vw;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-page h1 {
  font-size: 2rem;
  font-weight: 600;
}

.course-page .reviews h1 {
  margin-bottom: 20px;
}

.course-page hr {
  border: 2.5px solid var(--primary-color);
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.course-page .details {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 2rem;
  gap: 10px;
}

.course-page .details p {
  background-color: var(--tertiary-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: left;
  width: fit-content;
}

.course-page .dropdowns {
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--primary-color); */
  margin-top: 30px;
  gap: 20px;
}

.course-page .dropdowns h2 {
  cursor: pointer;
}

.course-page .dropdowns .desc > * {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.course-page .dropdowns > div:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  transform: scale(1.01);
}

.course-page .dropdowns .desc,
.course-page .dropdowns .review-form {
  background-color: var(--tertiary-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: none;
  border-radius: 5px;
  padding: 20px 20px;
  font-size: 1rem;

  text-align: left;
  max-height: 62px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.course-page .dropdowns .animate-in {
  max-height: 600px;
  transition: max-height 0.5s ease-in-out;
}

.course-page .dropdowns .desc .desc-hidden {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.course-page .dropdowns .review-form .review-form-hidden {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.course-page .dropdowns .review-form #title {

  font-size: 1.25rem;

  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  width: 60%;

}

.course-page .reviews {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
