.review-rules-card {
  display: none;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  padding: 20px 5%;
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  max-width: 670px;
  margin: 0 auto;
  position: absolute;
  /* position in center */
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.review-rules-card .rules-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-rules-card form {
  text-align: left;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.review-rules-card form .agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* make checkbox bigger */

.review-rules-card form .agreement #checkbox {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
}

.remember {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.disclaimer {
  text-align: center;
}

.submit {
  /* use same button styling  */
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  cursor: pointer;
  margin: 20px 0 0 0;
  font-size: 1.25rem;
  font-weight: 600;
}
.return {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  /* width: 50%; */
  align-self: center;

}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  cursor: pointer;
}

.emphasis {
  font-weight: 700;
  text-decoration: underline;
}
